.DS_Store
.idea

pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

coverage
dist
node_modules
schema.gql
yarn-error.log
vendor
.eslintcache
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
